@import '../assets/style/colors.scss';

.home-wrapper {
    background-image : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/imac2.jpg');
    background-repeat: no-repeat;
    background-size  : cover;
    min-height       : calc(100vh - 10rem);
    // background : radial-gradient( rgba(255, 255, 0, 0.808), wheat 50%);
    // background: -webkit-linear-gradient(45deg, lime, yellow, deeppink);
    align-items      : center;
    display          : flex;
    flex-direction: column;
}

.home_h1 {
    color        : $secondary-color;
    min-height   : calc(100vh - 10rem);
    // background: -webkit-linear-gradient(45deg, lime, yellow, deeppink);
}

.home_container {
    display          : flex;
    margin           : 0 auto;
    max-width        : 1200px;
    justify-content  : space-evenly;
    min-height       : calc(100vh - 10rem);
    width            : 100%;
    // margin-top: 10rem;
    padding-top      : 16vh;
    background-image : url('../assets/images/imac2.jpg');
    background-repeat: no-repeat;
    background-size  : cover;
    background-position: center;
    z-index          : 1;


    .home_img {
        // position     : relative;
        left         : 10rem;
        top          : 20rem;
        width        : 20rem;
        border-radius: 10px;
    }

    .home_greeting {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 90%;

        .home_title {
            width               : 90%;
            margin-top          : 1rem;
            // text-transform: uppercase;
            text-align          : center;
            margin-bottom       : 0;
            line-height         : 1.5;
            font-family         : "Halis Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
            // color            : whitesmoke;
            color               : #2e2e2e;
            // color            : rgb(54, 117, 253);
            font-size           : 2.5rem;
            font-weight         : 700;
        }

        .home_subtitle {
            text-align          : center;
            color               : dimgray;
            font-size           : 21px;
            line-height         : 26px;
            text-transform      : none;
            font-weight         : 300;
            margin              : 0 0 16px;
            font-style          : italic;
            font-family         : "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-bottom: 2px solid $primary-color;
        }
        .home_link {
            color             : #fff;
            background        :$btn-color;
            border            : 1px solid$btn-color;
            width             : 115px;
            height: 29px;
            margin-bottom: 0.5rem;
            display           : flex;
            align-items: center;
            font-size         : 13px;
            font-family       : "Halis Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight       : 700;
            -webkit-transition: all .2s ease-in-out;
            transition        : all .2s ease-in-out;
            text-transform    : uppercase;
            border-radius     : 25px;
            padding           : 5px 16px 5px;
            &:hover{
                background: $btn_hover-color;
                border-color: #f40903;
                color: #fff;
            }
        }
    }
}

@media (max-width: 650px){
    .home_container {
        padding-top      : 11vh;
}
}
@media (max-width: 425px){

.home_container {
    padding-top      : 10vh;

    .home_greeting {

        .home_title {
            font-size           : 1.5rem;
            font-weight         : 700;
        }

        .home_subtitle {
            font-size           : 1.1rem;
            line-height         : 26px;
            margin              : 0 0 16px;
            border-bottom: 2px solid $primary-color;
        }
        .home_link {
        }
    }
}
}