@import '../../assets/style/colors.scss';

.contacts{
    background: #292e33;
    background-image: linear-gradient(331deg,#272c31 0%,#32383e 100%);
    color: #6e767c;
    min-height: calc(100vh - 10rem);
}

.contacts_body{
    min-height: calc(100vh - 24rem);
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.5rem;
    h2{
        margin: 0 auto;
        text-transform: uppercase;
        border-bottom: 4px solid $btn-color;
        font-size: 2rem;
    }
    p{
        margin: 1.5rem 0;
    }
}

.contacts_body-title{
    font-size: 1.6rem;
    color: $btn-color;
    margin:1.5rem 0;
}